$parallax-window-height: 600px;
$parallax-background-height: $parallax-window-height * 1;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: white;
  padding: 16em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../images/header1.jpg");
  background-size: cover;
  background-color: red;
  background-position: top;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/

