---
title: Viviana Litterio
---

%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      = image_tag 'logo.png'
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"} MENU
    %ul#js-centered-navigation-menu.centered-navigation-menu.show
      %li.nav-link
        %a{:href => "javascript:void(0)"} Products
      %li.nav-link
        %a{:href => "javascript:void(0)"} About Us
      %li.nav-link
        %a{:href => "javascript:void(0)"} Contact
      %li.nav-link.logo
        %a.logo{:href => "javascript:void(0)"}
          = image_tag 'logo.png'
      %li.nav-link
        %a{:href => "javascript:void(0)"} Testimonials
      %li.nav-link.more
        %a{:href => "javascript:void(0)"} More
        %ul.submenu
          %li
            %a{:href => "javascript:void(0)"} Submenu Item
          %li
            %a{:href => "javascript:void(0)"} Another Item
          %li.more
            %a{:href => "javascript:void(0)"} Item with submenu
            %ul.submenu
              %li
                %a{:href => "javascript:void(0)"} Sub-submenu Item
              %li
                %a{:href => "javascript:void(0)"} Another Item
          %li.more
            %a{:href => "javascript:void(0)"} Another submenu
            %ul.submenu
              %li
                %a{:href => "javascript:void(0)"} Sub-submenu
              %li
                %a{:href => "javascript:void(0)"} An Item
      %li.nav-link
        %a{:href => "javascript:void(0)"} Sign up

#js-parallax-window.parallax-window
  .parallax-static-content
    .header-text
      %h3 Viviana Litterio
      %p Decoraciones
  #js-parallax-background.parallax-background

.items-container
  .grid-items
    %a.grid-item{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
        %h1 Grid Item
        %p Lorem ipsum dolor sit amet, elit. Rem, illum.
    %a.grid-item.grid-item-big.grid-item-image{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}
        %h1 Grid Item With an Image
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
    %a.grid-item.grid-item-big{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}
        %h1 Another Wide Item
        %p Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.
    %a.grid-item{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}
        %h1 Last Grid Item
        %p Lorem ipsum dolor sit amet, elit. Rem, illum.
    %a.grid-item{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}
        %h1 Last Grid Item
        %p Lorem ipsum dolor sit amet, elit. Rem, illum.
    %a.grid-item{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}
        %h1 A Grid Item
        %p Lorem ipsum dolor sit amet, elit. Rem, illum.
    %a.grid-item{:href => "javascript:void(0)"}
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
        %h1 Item
        %p Lorem ipsum dolor sit amet, elit. Rem, %illum.
